/* .card {
  height: 800px;
  border: 2px solid orange;
} */

.cardPhone {
  height: 500px;
}

.cardPhone__text {
  overflow: hidden;
}

.btnPhone-shadow {
  width: 100px;
}

.img-product {
  width: 100px;
  height: 100px;
}
